*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.features-container{
    margin-top: 4rem;
}
.features{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.feature{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.feature img{
    margin-bottom: 1rem;
}
.features-container .heading{
    font-size: 3rem;
    line-height: 45px;
    font-weight: 600;
    color: black;
    display: inline-block;
    padding: 4rem 0;
    background: url(/src/assets/bg.png) no-repeat;
    background-position: 5% 0%;
}